.top-section{
    border: 20px groove #79AEE2;
    background-color: #4E719B;
    border-radius: 5px;
}
.lead{
    font-size: 25px;
}
.heading{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.img-fluid{
    border: 3pt solid;
    border-radius: 20px;
    box-shadow: 10px 15px 15px #5fb0c6;
}
.employment{
    margin-top: 30px;
}
.card{
    border-color: #79AEE2;
    border-width: 10px;
}
.btn{
    background-color: #5fb0c6;
}
.nav-item{
    background-color: #5fb0c6;
}
.nav-item:hover{
    background-color: #5fb0c6b8;
}
